<!------ Include the above in your HEAD tag ---------->
<br /><br /><br /><br /><br />
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
      />
      <br /><br />
      <input
        style="height: 4rem;"
        type="submit"
        class="fadeIn fourth"
        value="Log In"
      />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
<!-- Login part -->
<div>
  <p>This is works</p>
</div>
