<!-- Header -->
<header id="header">
  <div class="inner">
    <nav class="fixed-nav" id="nav">
      <div class="flexbox">
        <a
          [ngxScrollToDuration]="ngxScrollToDuration"
          [ngxScrollTo]="'header'"
          class="logo item"
        >
          <img class="img item" src="./assets/images/Logo.png" alt="" />
        </a>
      </div>
      <a href="">Home</a>
      <a
        style="cursor: pointer;"
        *ngFor="let item of navItem"
        [ngxScrollToDuration]="ngxScrollToDuration"
        [ngxScrollTo]="item[0]"
        >{{ item[1] }}</a
      >
      <a
        [ngxScrollToDuration]="ngxScrollToDuration"
        [ngxScrollTo]="'inquiry'"
        class="button special"
        style="
          padding: 0 0.5em;
          height: 1.5em;
          line-height: 1.4em;
          font-weight: 400;
        "
        >Ask us!</a
      >
    </nav>
    <a href="#navPanel" class="navPanelToggle"
      ><span class="fa fa-bars"></span
    ></a>
  </div>
</header>

<!-- Banner -->
<section id="banner">
  <h1 style="color: black; margin-right: 50%;">Welcome to Trinusa Network</h1>
  <p style="color: black; margin-right: 50%;">
    Trusted and experienced trading company in Indonesia
  </p>
</section>

<!-- company profile -->

<section id="profile" class="wrapper">
  <div class="inner">
    <div class="flex flex-2">
      <article>
        <header>
          <h2>Company Profile</h2>
          <p style="font-size: 16px;">
            Trinusa Network or (TN) is an Indonesian Trading Company based in
            Jakarta, Indonesia. The company was established in 2008 as export
            import business through worldwide. They have been started to ship
            various Indonesian local brands product and goods through several
            countries in the world specifically in Asia.
          </p>
        </header>
        <header>
          <h3 style="font-size: 20px;">Vision</h3>
          <p style="font-size: 16px;">
            To be a leading and trusted company for connecting trade in
            Indonesia and International which supported by professional
            resources and management.
          </p>
        </header>

        <header>
          <h3 style="font-size: 20px;">Mision</h3>
          <p style="font-size: 16px;">
            Our priority is the satisfaction of our client. We strive to provide
            highest level of quality control and professionalism to maintain our
            goods and deliver the best service.
          </p>
        </header>
        <header>
          <h3 style="font-size: 20px;">Address</h3>
          <p style="font-size: 16px;">
            Wisma Argo Manunggal Floor 12, St. Setiabudi, Karet Semanggi, South
            Jakarta 12930 Jakarta Indonesia
          </p>
        </header>
      </article>

      <article style="overflow: hidden;">
        <div class="img">
          <img
            style="translate: top=0;"
            src="assets/images/building.png"
            alt=""
          />
        </div>
      </article>
    </div>
  </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
    <header>
      <h2 style="text-align: center;">Our Values</h2>
    </header>
    <br />
    <div class="flex flex-3">
      <article>
        <div>
          <img src="assets/images/value3.png" alt="" />
        </div>
        <header>
          <h3>Trust & Partnership</h3>
        </header>
        <p>We believe on transparency and partnership in our bussiness.</p>
        <footer></footer>
      </article>
      <article>
        <div>
          <img src="assets/images/value1.png" alt="" />
        </div>
        <header>
          <h3>Excellency & Efficiency</h3>
        </header>
        <p>We strive to provide the best quallity of goods and services.</p>
        <footer></footer>
      </article>
      <article>
        <div>
          <img src="assets/images/value2.png" alt="" />
        </div>
        <header>
          <h3>Empowerment & Collaboration</h3>
        </header>
        <p>
          We belief in the power of leveraging our partners to achieve longterm
          goals.
        </p>
        <footer></footer>
      </article>
    </div>
  </div>
</section>

<!-- Two -->
<section
  id="products"
  class="wrapper style1 special"
  style="background-color: rgb(9, 150, 155);"
>
  <div #two class="inner">
    <header>
      <h2>Our Signature Products</h2>
      <p style="color: white;">
        We strive to provide the best goods for our customer satisfaction
      </p>
    </header>
    <div class="flex flex-4" routerLink="/products">
      <div class="box person">
        <div class="image round">
          <img src="./assets/images/pic03.jpg" alt="Person 1" />
        </div>
        <h3>Coffee Bean</h3>
        <p>High quality coffee bean from Toraja, Indonesia</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="./assets/images/pic04.jpg" alt="Person 2" />
        </div>
        <h3>Clover</h3>
        <p>spice with sweet and unique aroma</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="./assets/images/pic05.jpg" alt="Person 3" />
        </div>
        <h3>Pepper</h3>
        <p>Available in both black&white</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="./assets/images/pic06.jpg" alt="Person 4" />
        </div>
        <h3>Cardamom</h3>
        <p>Spice with sweet and pungent aroma</p>
      </div>
    </div>
    <br />
    <div class="more">
      <a class="button special" href="/products">
        Click for more
      </a>
    </div>
  </div>
</section>

<!-- Three -->
<section id="service" class="wrapper-ref style1">
  <header>
    <h2 style="text-align: center; font-size: 3rem;">Our Service</h2>
  </header>
  <div class="inner">
    <article class="feature left">
      <span class="image"><img src="assets/images/pic01.jpg" alt="" /></span>
      <div class="content">
        <h2>Our Products</h2>
        <p>
          We send authentic Indonesian agricultural products and other type of
          products worldwide. We sort every product of our produce and we only
          take the best to meet export quality. We store our selected products
          in our warehouse to maintain the quality of the stock for the next
          shipment.
        </p>
        <ul class="actions">
          <li>
            <a ngxScrollTo="products" routerLink="/products" class="button alt"
              >Our Products</a
            >
          </li>
        </ul>
      </div>
    </article>
    <article class="feature right">
      <span class="image"><img src="assets/images/pic02.jpg" alt="" /></span>
      <div class="content">
        <h2>Our Experience</h2>
        <p>
          Our services aren't limited to trading. Our professional team which
          has tremendous of excellence experiences in marketing and bussiness
          will help clients to find the right markets for their products.
        </p>
        <ul class="actions">
          <li>
            <a ngxScrollTo="contact" class="button alt">Contact us!</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<!-- Contacts -->

<section
  id="contact"
  class="wrapper style1 special"
  style="background-color: rgb(9, 150, 155);"
>
  <div class="inner">
    <header class="major narrow">
      <h2>Contact Us</h2>
      <p style="color: white;">
        For more details and information regarding our products and services
      </p>
      <div class="flexbox">
        <div class="item image">
          <div style="text-align: center;">
            <img
              style="margin-left: 40%;"
              src="assets/images/ico-mail.png"
              alt=""
            />
            <p style="margin-bottom: 0; color: white;">Email Address</p>
            <h3 style="margin-top: 0; font-weight: bold;">
              Admin@TrinusaNetwork.com
            </h3>
          </div>
        </div>
        <div class="item image">
          <div style="text-align: center;">
            <img
              style="margin-left: 25%;"
              src="assets/images/ico-phone.png"
              alt=""
            />
            <p style="margin-bottom: 0; color: white;">Phone Number</p>
            <h3 style="margin-top: 0; font-weight: bold;">+6221 52921353</h3>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>

<section id="inquiry" class="wrapper style2 special">
  <div class="inner">
    <header class="major narrow">
      <h2>Inquiry</h2>
      <p>
        Have any question? Please kindly send it to us and we will respond your
        question
      </p>
    </header>
    <form action="https://formspree.io/mwkrwvro" method="POST">
      <div class="container 75%">
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)">
            <input name="name" placeholder="Name" type="text" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input name="ReplyTo" placeholder="Your Email" type="email" />
          </div>
          <div class="12u$">
            <textarea name="Subject" placeholder="Subject"></textarea>
          </div>
          <div class="12u$">
            <textarea name="Message" placeholder="Message" rows="4"></textarea>
          </div>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" class="other" value="Submit" /></li>
        <li><input type="reset" class="alt" value="Reset" /></li>
      </ul>
    </form>
  </div>
</section>
