<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Content -->

<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="flex">
      <div class="copyright">
        &copy; 2020 PT. Trinusa Network. All Rights Reserved
      </div>
      <ul class="icons">
        <!-- <li>
          <a href="#" class="icon fa-facebook"
            ><span class="label">Facebook</span></a
          >
        </li>
        <li>
          <a href="#" class="icon fa-instagram"
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="icon fa-linkedin"
            ><span class="label">linkedIn</span></a
          >
        </li> -->
        <!-- <li>
          <a routerLink="/details" class="icon fa-television"
            ><span class="label">Admin</span>Admin</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</footer>
